@charset "utf-8";
/*
Theme Name: Tim Hamilton
Theme URI: http://www.timhamilton.ca
Author: Tim Hamilton
Author URI: http://www.timhamilton.ca
Description: The portfolio site.
*/

@import 'reset';

@mixin transition {transition: all 0.3s ease-in-out;}

$black: #343838;
$grey: #939598;
$accent: #2aadaa;

body {font-family: 'proxima-nova', sans-serif; color: $grey; font-weight: 300; line-height: 1.25em; border-top: 1em solid $black;}
.emph {color: $accent;}
main {display: block; margin-top: 1em; padding-top: 1em; padding-bottom: 1em;}
main.work { padding-left: 15px; padding-right: 15px;}
img {max-width: 100%;}
.wrapper {width: 95%; margin: 0 auto; max-width: 1200px;}
a, a:visited {color: $accent;}
header {text-align: center; padding: 0px 15px;}
.logo {border: .5em solid $black; border-top: 3.5em solid $black; background: $black; margin: 0 auto; width: 150px; min-width: 150px;}
.the-logo {width: 150px; background: #fff;}

h1 {font-family: 'jubilat', serif; font-weight: 500; font-size: 2em; margin: 20px 0px 10px 0px; color: $black; line-height: 1em;}
h2 {color: $black; font-family: 'jubilat', serif; font-weight: 500; margin-top: 10px;}
h3 {margin-top: 5px; color: $black; font-weight: 500; font-family: 'jubilat', serif;}
h4, a h4 {color: $grey;} 
::-moz-selection { color: white; background: #2d4557;}
::selection { color: white; background:#2d4557;}

header a i, header a:visited i {color: $accent;}

@media screen and (min-width: 600px) {
    .logo {margin: 0;}
    header {text-align: left; display: flex;}
    .header-text-wrap {padding-left: 2em;}
    .stats {display: flex;}
    .status {padding-right: 1em;}
    .contact {padding-left: 2em;}
}

@media screen and (min-width: 1000px) {
header {align-items: flex-start;}
    .header-text-wrap {display: flex; align-self: flex-end;}
    .work-header.header-text-wrap {flex-direction: column; width: 60%;}
.about {flex: 1;}
.info {display: flex; flex: 1.75; flex-direction: column; padding-left: 2em; justify-content: flex-end;}
}

.work-wrap {
          box-sizing: border-box;
          column-count: 1;
          column-gap: 0;
  position: relative;
}

.work-wrap * {
          box-sizing: border-box;
}

.panel--large .work-item__image {height: 600px;}
.panel--small .work-item__image {height: 300px;}
.work-item__image {background : $grey; border: 2px solid #ddd;}
.work-item__content {padding-left: 10px;}

@media (min-width: 768px) {
.work-wrap {
            column-count: 2;
  }
}
@media (min-width: 1200px) {
.work-wrap {
            column-count: 3;
  }
}
.work-item {
  margin: 0px 15px 25px 15px;
  padding: 0px 0px 10px 0px;
    display: block;
    background: #fafafa;
    text-decoration: none;
    @include transition;
}

.work-item:hover {
    opacity: .8; @include transition;
}

@media (min-width: 768px) {
.work-item {
       page-break-inside: avoid;
            break-inside: avoid;
  }
}

.single-project p {margin-bottom: 15px;}
main.work img {padding: 20px 0px; border-bottom: 1px solid #ddd;}

footer {font-size: .8em; padding: 1em 15px; border-top: 1px solid $grey;}