/*
Theme Name: Tim Hamilton
Theme URI: http://www.timhamilton.ca
Author: Tim Hamilton
Author URI: http://www.timhamilton.ca
Description: The portfolio site.
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'proxima-nova', sans-serif;
  color: #939598;
  font-weight: 300;
  line-height: 1.25em;
  border-top: 1em solid #343838; }

.emph {
  color: #2aadaa; }

main {
  display: block;
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em; }

main.work {
  padding-left: 15px;
  padding-right: 15px; }

img {
  max-width: 100%; }

.wrapper {
  width: 95%;
  margin: 0 auto;
  max-width: 1200px; }

a, a:visited {
  color: #2aadaa; }

header {
  text-align: center;
  padding: 0px 15px; }

.logo {
  border: 0.5em solid #343838;
  border-top: 3.5em solid #343838;
  background: #343838;
  margin: 0 auto;
  width: 150px;
  min-width: 150px; }

.the-logo {
  width: 150px;
  background: #fff; }

h1 {
  font-family: 'jubilat', serif;
  font-weight: 500;
  font-size: 2em;
  margin: 20px 0px 10px 0px;
  color: #343838;
  line-height: 1em; }

h2 {
  color: #343838;
  font-family: 'jubilat', serif;
  font-weight: 500;
  margin-top: 10px; }

h3 {
  margin-top: 5px;
  color: #343838;
  font-weight: 500;
  font-family: 'jubilat', serif; }

h4, a h4 {
  color: #939598; }

::-moz-selection {
  color: white;
  background: #2d4557; }

::selection {
  color: white;
  background: #2d4557; }

header a i, header a:visited i {
  color: #2aadaa; }

@media screen and (min-width: 600px) {
  .logo {
    margin: 0; }

  header {
    text-align: left;
    display: flex; }

  .header-text-wrap {
    padding-left: 2em; }

  .stats {
    display: flex; }

  .status {
    padding-right: 1em; }

  .contact {
    padding-left: 2em; } }
@media screen and (min-width: 1000px) {
  header {
    align-items: flex-start; }

  .header-text-wrap {
    display: flex;
    align-self: flex-end; }

  .work-header.header-text-wrap {
    flex-direction: column;
    width: 60%; }

  .about {
    flex: 1; }

  .info {
    display: flex;
    flex: 1.75;
    flex-direction: column;
    padding-left: 2em;
    justify-content: flex-end; } }
.work-wrap {
  box-sizing: border-box;
  column-count: 1;
  column-gap: 0;
  position: relative; }

.work-wrap * {
  box-sizing: border-box; }

.panel--large .work-item__image {
  height: 600px; }

.panel--small .work-item__image {
  height: 300px; }

.work-item__image {
  background: #939598;
  border: 2px solid #ddd; }

.work-item__content {
  padding-left: 10px; }

@media (min-width: 768px) {
  .work-wrap {
    column-count: 2; } }
@media (min-width: 1200px) {
  .work-wrap {
    column-count: 3; } }
.work-item {
  margin: 0px 15px 25px 15px;
  padding: 0px 0px 10px 0px;
  display: block;
  background: #fafafa;
  text-decoration: none;
  transition: all 0.3s ease-in-out; }

.work-item:hover {
  opacity: .8;
  transition: all 0.3s ease-in-out; }

@media (min-width: 768px) {
  .work-item {
    page-break-inside: avoid;
    break-inside: avoid; } }
.single-project p {
  margin-bottom: 15px; }

main.work img {
  padding: 20px 0px;
  border-bottom: 1px solid #ddd; }

footer {
  font-size: .8em;
  padding: 1em 15px;
  border-top: 1px solid #939598; }

/*# sourceMappingURL=style.css.map */
